<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email" [(ngModel)]="user.email" name="email"  autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" name="password" autocomplete="current-password" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-4" (click)="signIn()">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Forgot password?</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <!-- Single sign-on -->
                      <div class="sso">
                        <div class="separator">Or continue with</div>
                        <div class="buttons">
                          <!-- <button class="sso-button" type="button" mat-stroked-button>
                            <svg
                              class="social-text-button__icon"
                              width="12"
                              height="24"
                              viewBox="0 0 12 24"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <title>Facebook icon</title>
                              <path
                                d="M10.717 12.009H7.354V24H2.372V12.009H0V7.773h2.372V5.031C2.372 3.071 3.303 0 7.399 0l3.692.015v4.113H8.412c-.437 0-1.058.22-1.058 1.155v2.49h3.8l-.437 4.236z"
                                fill="#5850ec"
                              ></path>
                            </svg>
                          </button> -->
                          <button class="sso-button" type="button" (click)="signInGoogle();" mat-stroked-button>
                            <svg
                              class="social-text-button__icon"
                              width="23px"
                              height="18px"
                              viewBox="0 0 23 18"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <title>Google icon</title>
                              <g
                                stroke="none"
                                stroke-width="1"
                                fill="none"
                                fill-rule="evenodd"
                              >
                                <path
                                  d="M17.64,9.20454545 C17.64,8.56636364 17.5827273,7.95272727 17.4763636,7.36363636 L9,7.36363636 L9,10.845 L13.8436364,10.845 C13.635,11.97 13.0009091,12.9231818 12.0477273,13.5613636 L12.0477273,15.8195455 L14.9563636,15.8195455 C16.6581818,14.2527273 17.64,11.9454545 17.64,9.20454545 L17.64,9.20454545 Z"
                                  fill="#4285F4"
                                ></path>
                                <path
                                  d="M9,18 C11.43,18 13.4672727,17.1940909 14.9563636,15.8195455 L12.0477273,13.5613636 C11.2418182,14.1013636 10.2109091,14.4204545 9,14.4204545 C6.65590909,14.4204545 4.67181818,12.8372727 3.96409091,10.71 L0.957272727,10.71 L0.957272727,13.0418182 C2.43818182,15.9831818 5.48181818,18 9,18 L9,18 Z"
                                  fill="#34A853"
                                ></path>
                                <path
                                  d="M3.96409091,10.71 C3.78409091,10.17 3.68181818,9.59318182 3.68181818,9 C3.68181818,8.40681818 3.78409091,7.83 3.96409091,7.29 L3.96409091,4.95818182 L0.957272727,4.95818182 C0.347727273,6.17318182 0,7.54772727 0,9 C0,10.4522727 0.347727273,11.8268182 0.957272727,13.0418182 L3.96409091,10.71 L3.96409091,10.71 Z"
                                  fill="#FBBC05"
                                ></path>
                                <path
                                  d="M9,3.57954545 C10.3213636,3.57954545 11.5077273,4.03363636 12.4404545,4.92545455 L15.0218182,2.34409091 C13.4631818,0.891818182 11.4259091,0 9,0 C5.48181818,0 2.43818182,2.01681818 0.957272727,4.95818182 L3.96409091,7.29 C4.67181818,5.16272727 6.65590909,3.57954545 9,3.57954545 L9,3.57954545 Z"
                                  fill="#EA4335"
                                ></path>
                                <path d="M0,0 L18,0 L18,18 L0,18 L0,0 Z"></path>
                              </g>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p></p>
                  <button [routerLink]="['/register']" type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
